<!DOCTYPE html>
<html>

<head>
   <title>Backend Challenges | Free Code Camp</title>
   <link rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon" />
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
   <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
   <div class="container">
      <h1>Manage Node.js projects and npm packages using package.json</h1>
      <h3>Part 1 of Free Code Camp Backend Challenges</h3>
      <h3>Hello from GitHub Pages! 🦄</h3>
      <p>This is just a frontend demo. The real app runs on Replit.</p>
      <a href="https://05b5beee-2c5d-46d8-bc71-9f69f38ab4ad-00-1le1v1z9oh7n6.sisko.replit.dev" target="_blank">
         Visit Live Express Server
      </a>
   </div>
</body>

</html>
